<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings
             Note: all databases configured in server.properties are automatically published to
             isomorphic/jdbc under their respective names.  The sql.defaultDatabase is
             published as isomorphic/jdbc/defaultDatabase.  This is done in order to enable the
             samples to use an embedded hsqldb without having to start an hsqldb server on a
             separate port.

             You can, of course, configure this however you like in your application.
        -->
        <property name="connection.datasource">isomorphic/jdbc/defaultDatabase</property>

        <!--
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:file:../db/hsqldb/isomorphic</property>
        <property name="connection.sql.regular_names">false</property>
        <property name="connection.hsqldb.inc_backup">false</property>
        -->
        
        <!-- disable native hibernate connection pooling: it's not recommended for production
             use and can't handle connection re-establishment.  The recommended approach is
             to obtain database connections from the container and have the container manage
             the pool
        -->        
        <property name="connection.pool_size">0</property>

        <!-- SQL dialect -->
        <!-- rely on autodetect: hibernate specifies this as best practice
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        -->
        
        <!-- Release database connections when session are closed.  Otherwise, if the DB
             agressively cuts connections, we could end up trying to use a broken connection.
        -->
        <property name="hibernate.connection.release_mode">on_close</property>

        <!-- don't use a data cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Pretty-print logged sql -->
        <property name="format_sql">true</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.isomorphic.examples.Country"/>
        <mapping class="com.isomorphic.examples.SupplyItemHB"/>
        <mapping class="com.isomorphic.examples.server.largeValueMapHibernate.ValMapOrderItem"/>
        <mapping class="com.isomorphic.examples.server.largeValueMapHibernate.ValMapSupplyItem"/>
        <mapping class="com.isomorphic.examples.server.queuing.User"/>
        <mapping class="com.isomorphic.examples.server.flattenedBeans.FlatUser"/>
        <mapping class="com.isomorphic.examples.server.flattenedBeans.Address"/>
        <mapping class="com.isomorphic.examples.server.masterDetail.Order"/>
        <mapping class="com.isomorphic.examples.server.masterDetail.OrderItem"/>
        <mapping class="com.isomorphic.examples.server.hibernate.relations.ContinentManyToOneSimple"/>
        <mapping class="com.isomorphic.examples.server.hibernate.relations.CountryManyToOneSimple"/>
        <mapping class="com.isomorphic.examples.server.hibernate.relations.CityManyToOneSimple"/>
        <mapping class="com.isomorphic.examples.server.hibernate.relations.CountryOneToMany"/>
        <mapping class="com.isomorphic.examples.server.hibernate.relations.CityOneToMany"/>
        <mapping class="com.isomorphic.examples.server.hibernate.upload.MediaItem"/>

    </session-factory>

</hibernate-configuration>
