
@font-face {
    font-family: 'Roboto-Light-Vivid';
    /* src: local("☺"); - force UTF-8 */
    src: url("../../system/helpers/fonts/Roboto/Roboto-Light-Vivid.woff2") format("woff2"),
         url("../../system/helpers/fonts/Roboto/Roboto-Light-Vivid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

