/* Google Material Icon support */

@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src: local('MaterialIcons'),
    local('MaterialIcons-Regular'), 
    url(https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

/* these custom CSS variables allow customization of some material-icons styles - don't define
   defaults here because this file may be loaded at any time and could clobber values assigned 
   by a skin.  Instead, apply the defaults via the fallback param to var(varName, fallback).
*/
/*
:root {
  --iscMaterialIconSize: 24px;
  --iscMaterialIconColor: inherit;
  --iscMaterialIconOverColor: inherit;
  --iscMaterialIconDisabledColor: inherit;
}
*/

.material-icons,
.material-iconsOver,
.material-iconsFocused,
.material-iconsFocusedOver,
.material-iconsDisabled {
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--iscMaterialIconSize, 24px);  /* Preferred icon size */
  color: var(--iscMaterialIconColor, inherit);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-iconsOver {
    color: var(--iscMaterialIconOverColor, inherit);
}

.material-iconsFocused,
.material-iconsFocusedOver {
    color: var(--iscMaterialIconOverColor, inherit); 
}

.material-iconsDisabled {
    color: var(--iscMaterialIconDisabledColor, inherit); 
}


/* material-icons in buttons - inherits colors */
.material-iconsButton,
.material-iconsButtonOver,
.material-iconsButtonFocused,
.material-iconsButtonFocusedOver,
.material-iconsButtonDisabled {
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--iscMaterialIconSize, 24px);  /* Preferred icon size */
  color: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*
.material-iconsButtonOver {
    color: var(--iscMaterialIconOverColor, inherit); 
}

.material-iconsButtonFocused,
.material-iconsButtonFocusedOver {
    color: var(--iscMaterialIconOverColor, inherit); 
}

.material-iconsButtonDisabled {
    color: var(--iscMaterialIconDisabledColor, inherit); 
}
*/

/* end of material icons support */
